:root {
  --header-color: #6EE7B7;
  --font: 'Neucha', 'Helvetica';
}

body {
  margin: 0;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--header-color);
  opacity: 90%;
  padding: 20px;
  font-family: var(--font);
}

.header h1 {
  font-size: 72px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 36px;
}

.header ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 32px;
  margin-bottom: 8px;
}

li {
  list-style: none;
}

.header li {
  font-size: 24px;
}

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.home-card {
  margin-top: 24px;
  background-color: #ecfdf5;
  opacity: 90%;
  width: 600px;
  text-align: center;
  padding: 32px 56px;
  font-family: var(--font);
  box-sizing: border-box;
}

.home-card h2 {
  font-size: 38px;
  font-weight: 600;
}

.home-card p {
  font-size: 24px;
}

.home-card img {
  border-radius: 50%;
}